<!DOCTYPE html>
<html lang="{{ site.locale }}">
  
  {% include head.html %}

  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}

<link rel="stylesheet" href="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.css">
<script src="//cdn.bootcss.com/gitalk/1.5.0/gitalk.min.js"></script>
          <div id="gitalk-container"></div>
  <script>
      var gitalk = new Gitalk({
  clientID: '932c155ca8d934536cf2',
  clientSecret: '5e7fcc5210ccda4981fb5e993436fe97533ba593',
  repo: 'home-page',
  owner: 'is-a-girl',
  admin: ['is-a-girl'],
  id: location.pathname,
  distractionFreeMode: false
})
gitalk.render('gitalk-container')
</script>
      {% include page-footer.html %}

    </section>

  </body>
</html>
